<ul class="session-links">
  <% if user_signed_in? %>
    <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to "Log in", new_user_session_path %></li>
    <li><%= link_to "Register", new_user_registration_path %></li>
  <% end %>
</ul>
<h3>Hi there!</h3>
